
<html>
<head>
    <title>Customer Login</title>
</head>
<body>
    <form>
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" placeholder="e.g. user@email.com" />
        <label for="pwd">Paswword</label>
        <input class="form-control" type="password" id="pwd" />
        <br />
        <button class="btn btn-primary" id="btnlogin">Login</button>
    </form>
</body>
</html>
<script src="~/Scripts/jQuery/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/myScript/login/login.js"></script>